@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: normal;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url('http://themes.googleusercontent.com/static/fonts/gloriahallelujah/v2/CA1k7SlXcY5kvI81M_R28Y5mSNQmgKshuii2YddNQzE.woff') format('woff');
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

body {
background: #F2F2F2;
margin: 0;
font-family: Myriad, Helvetica, Arial, Helvetica, sans-serif;
}
#main {
background: white;
padding: 25px;
border: 1px solid black;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
color: black;
border: 2px solid #D3D3D3;
}
#container {
margin: 0 auto;
width: 960px;
}
#footer, #header {
margin: 20px 0;
color: #808080;
text-shadow: 1px 1px 0 #fff;
font-family: 'Gloria Hallelujah', cursive;
}
#header{font-size: 42px;}
header {
color: #3A89C9;
font-size: 12px;
}
#team_display {
width: 100%;
}
.team_member_picture {
float: left;
padding: 30px;
}
.team_member_info {
padding: 30px;
}
.clear {
clear: both;
}
.team_display {
margin-bottom: 20px;
}
td{padding: 20px; border: 0px;}
tr:nth-child(2n) {background: lightblue;}
table{border-collapse: collapse;}
#header > span {margin-top: 30px; position: absolute; margin-left: 50px;}